<div id="course-list-header" style="height: 300px;">
    <a class="btn btn-secondary" href="/course">Create New</a>
    <form action="/course/logout" method="post" style="float: right;">
        <button class="btn btn-warning">Logout</button>
    </form>
    <h3 align="center">Course List</h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="padding-top: 20px;">Course Name</th>
            <th>Course Id</th>
            <th>Course Duration(Hrs)</th>
            <th>Course Fee(PHP)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr align="center">
            <td>{{this.courseName}}</td>
            <td>{{this.courseId}}</td>
            <td>{{this.courseDuration}}</td>
            <td>{{this.courseFee}}</td>
            <td>
                <a href="/course/{{this._id}}"> Edit </a><br>
                <a href="/course/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');">
                    Delete </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>